.App {
  text-align: center;
 
}
.container{
  width: 50vw;
  height: 70vh;
  background: rgb(238, 235, 235);
  margin-left: 25%;
  margin-top: 7.5%;
}

.main{
  display: flex;
  margin-top: 2rem;

}
.school-form{
  display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.main-side-nav{
  background: #000;
  color: white;
  width: 17rem;
  height: 80vh;
  margin: 0 2rem;

}
.main-layout{
  background-color:#faf9f9;
  flex: 1 ;
  margin-right:2rem;
}

